.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: space-evenly;
    max-width: 100vw;
    align-items: baseline;
    gap: 10px 20px;  
    background-image: radial-gradient(#a697dc, #dc9e97, #ffce77, #ff3c3c);
    background-size: 600% 600%;
    background-position: center;
    animation: banner-animation 200s infinite alternate;

}

.selector {

}

@keyframes banner-animation {
    0% {
        background-position: top right;
    }
    25% {
        background-position: bottom left;
    }
    50% {
        background-position: top center;
    }
    75% {
        background-position: center;
    }
    100% {
        background-position: top right;
    }
}

@media (max-width: 800px) {
.list {
    flex-direction: column;
    }
}
.list * {
    margin: 5px 5vw 5px 5vw;
}




