.account {


    margin-left: auto;
    transform: translateY(50%) !important;
}

.account:hover {
    .dropdown {
        display: flex !important;
    }
}

.icon {
    transform: translateY(-50%) !important;
}

.dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    transition: 0.32s ease-in-out;
    background: #fffffffa;
    border-radius: 10px;
    transform: translate(-2em, 0);
}

.dropdown * {
    padding: 7px 20px;
    font-size: 1rem;
    color: black;
}
