.header {
    display: flex;
    justify-content: center;
    position: relative;
}

.title {
    position: absolute;
    font-size:7rem;
    align-self: center;
    filter: invert(1);
    mix-blend-mode: difference;
    color: #001979;
    z-index: 1;
}

.headerImage {
    object-fit: contain;
    width: 100%;
    height: auto;
}
