.header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 42.46284501vw;
    width: 100vw;
    overflow-x: hidden;
}

@media(max-width: 800px) {
    .title {
        font-size: 2rem !important;
    }
}

.title {
    position: absolute;
    font-size:6.5rem;
    align-self: center;

    color: #c1f1ffeb;
    z-index: 1;
    text-shadow: 0px 0px 2px black;
}

.headerImage {
    object-fit: contain;
    width: 100vw;
    height: auto;
    z-index: 0;
}
