.header {
    display: flex;
    justify-content: center;
    position: relative;
}

@media(max-width: 800px) {
    .title {
        font-size: 2rem !important;
    }
}

.title {
    position: absolute;
    font-size:6.5rem;
    align-self: center;
    filter: invert(1);
    mix-blend-mode: difference;
    color: #001979;
    z-index: 1;
}

.headerImage {
    object-fit: contain;
    width: 100%;
    height: auto;
    z-index: 0;
}
