.navbar {
    top: 0;
    position: sticky;
    z-index: 12 !important;
    background: white;
    height: 70px !important;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 70px !important;
    width: 100vw;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.nav:hover {
    color: #000000b3;
}

.active {
    color: #000000e6 !important;
}

.nav,
.Image {
    color: #0000008c;
    margin: 0 0 0 40px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .8px;
}
